<!-- your html code here -->
<div class="container mt-5">
    <div class="div row col-12">
        <h3>Contact</h3>
    </div>
    <div class="row">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Velit sit reiciendis fugit eos totam hic quae veritatis officia distinctio iste accusamus nam earum
            quis
            odit harum,
            accusantium, enim libero maxime?
        </p>
    </div>

    <div class="row " style="justify-content: center;">
        <form class="bg-light">
            <div class="form-group d-flex col-12 ">
                <label for="inputEmail3" class="form-label " style="margin-right: 15px;"><strong>Your E-mail </strong></label>
                <input type="email" class="form-control" id="inputEmail3" placeholder="Your email" style="width: 500px">
            </div>
            <br>
            <div class="form-group d-flex">
                <label for="inputPassword3"  class="col-form-label" style="margin-right: 15px;"><strong>Your
                        message</strong>

                </label>

                <textarea rows="5" cols="70" placeholder="Pleace enter your message here...">

                </textarea>
            </div>
            <div class="text-right">
                <div class="col-sm-12">
                    <button type="submit" class="btn btn-primary float-right">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>